.workspaces-container {
    display: flex;
    justify-content: left;
    background-color: #f8f8f8;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 20px);
    border-width: 0;
    border-radius: 40px;
    margin-bottom: 20px;
}

.info-right {
    display: flex;
    align-items: center;
    padding: 15px;
}

.all-files-branches {
    width: 100%;
}

.branches-number {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: white;
    margin-right: 10px;
}

.branches-number p {
    margin: 5px;
}

.workspace-status {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: white;
}

.workspace-status p {
    margin: 5px;
    color: white;
}

.request-content-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-workspaces-container {
    padding: 0 15px 15px 5px;
    width: max-content;
    border-radius: 10px;
}

.all-branches-container {
    padding: 0;
    margin-top: 5px;
    width: max-content;
    border-radius: 10px;
}

.all-requests-container {
    margin-top: 5px;
    width: max-content;
    border-radius: 10px;
}

.request-content-title {
    margin: 15px 0 5px 0;
}

.request-content {
    margin: 0 0 5px 0;
}

.all-workspaces {
    background-color: #e1e1e1;
    border-radius: 10px 0 0 10px;
}

.workspace-item {
    background-color: #ffffff;
    padding: 15px;
    min-width: 400px;
    border-radius: 10px;
    marker: none;
    display: block;
    margin: 10px;
}

.branch-item {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 10px;
    min-width: 200px;
    border-radius: 10px;
    marker: none;
    display: block;
}

.request-item {
    background-color: #ffffff;
    padding: 10px;
    min-width: 200px;
    border-radius: 10px;
    marker: none;
    display: block;
}

.workspace-item:hover {
    background-color: #f6f6f6;
}

.workspace-block {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100%;
    background-color: #e7e7e7;
}

.all-files-branches {
    padding-left: 30px;
}

.workspace-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workspace-title {
    margin-bottom: 20px;
}

