.workspaces-container {
    display: flex;
    justify-content: left;
    background-color: #f8f8f8;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 20px);
    border-width: 0;
    border-radius: 40px;
    margin-bottom: 20px;
}

.workspace-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.page {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.dialog-container {
    z-index: 1;
    display: flex;
    position: absolute;
    background: white;
    min-width: 300px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #00000024;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.add-workspace-button {
    padding: 10px 20px;
    width: 100%;
    align-self: end;
    border-radius: 30px;
    border: none;
    font-size: large;
    background-color: #a44ee0;
    color: white;
    cursor: pointer;
    margin: 0 0 10px 10px;
}

.add-workspace-button:hover {
    background-color: #9741d3;
}

.add-workspace-button-close {
    padding: 10px 20px;
    width: 100%;
    align-self: end;
    border-radius: 30px;
    border: none;
    font-size: large;
    background-color: #676767;
    color: white;
    cursor: pointer;
    margin: 0 0 20px 10px;
}

.add-workspace-button-close:hover {
    background-color: #575757;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    font-size: large;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-group input {
    width: 100%;
    height: 50%;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
}

.info-right {
    display: flex;
    align-items: center;
    padding: 15px;
}

.all-files-branches {
    width: 100%;
}

.branches-number {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: white;
    margin-right: 10px;
}

.branches-number p {
    margin: 5px;
}


.username-info-right {
    display: flex;
    align-items: center;
    padding: 5px;
}

.username {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: #4f4f4f;
    cursor: pointer;
}

.username:hover {
    background-color: #343434;
}

.username p {
    margin: 5px;
    color: white;
    cursor: pointer;
}

.workspace-archive {
    width: 150px;
    padding: 5px;
    border-radius: 30px;
    background-color: #4f4f4f;
    align-self: center;
    text-align: center;
    cursor: pointer;
}

.workspace-archive:hover {
    background-color: #343434;
}

.workspace-archive p {
    margin: 5px;
    color: white;
    cursor: pointer;
}

.workspace-access {
    width: 150px;
    padding: 5px;
    border-radius: 30px;
    background-color: #4f4f4f;
    align-self: center;
    text-align: center;
    cursor: pointer;
}

.workspace-access:hover {
    background-color: #343434;
}

.workspace-access p {
    margin: 5px;
    color: white;
    cursor: pointer;
}

.workspace-archive-button {
    padding: 10px 20px;
    width: 100%;
    align-self: end;
    border-radius: 30px;
    border: none;
    font-size: large;
    background-color: #a44ee0;
    color: white;
    cursor: pointer;
    margin: 0 0 10px 10px;
}

.workspace-archive-button:hover {
    background-color: #9741d3;
}

.workspace-archive-button-close {
    padding: 10px 20px;
    width: 100%;
    align-self: end;
    border-radius: 30px;
    border: none;
    font-size: large;
    background-color: #676767;
    color: white;
    cursor: pointer;
    margin: 0 0 20px 10px;
}

.workspace-archive-button-close:hover {
    background-color: #575757;
}

.access-action-button {
    padding: 10px 20px;
    width: fit-content;
    align-self: center;
    border-radius: 30px;
    border: none;
    font-size: large;
    background-color: #a44ee0;
    color: white;
    cursor: pointer;
    margin: 0 0 20px 10px;
}

.access-action-button:hover {
    background-color: #9d48d9;
}

.remove-action-button {
    padding: 10px 20px;
    width: fit-content;
    align-self: center;
    border-radius: 30px;
    border: none;
    font-size: large;
    background-color: #f65858;
    color: white;
    cursor: pointer;
    margin: 0 0 20px 10px;
}

.remove-action-button:hover {
    background-color: #e54c4c;
}

.workspace-status {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: white;
}

.workspace-status p {
    margin: 5px;
    color: white;
}

.request-content-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-workspaces-container {
    padding: 0 15px 15px 5px;
    width: max-content;
    border-radius: 10px;
}

.all-branches-container {
    padding: 0;
    margin-top: 5px;
    width: max-content;
    border-radius: 10px;
}

.all-requests-container {
    padding: 0;
    margin-top: 5px;
    width: max-content;
    border-radius: 10px;
}

.request-content-title {
    font-size: x-large;
    margin: 15px 0 5px 0;
}

.request-content {
    margin: 0 0 5px 0;
}

.all-workspaces {
    background-color: #e1e1e1;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.add-workspace {
    position: absolute;
    bottom: 10px;
    border-radius: 40px;
    width: 80px;
    min-width: 80px;
    height: 80px;
    right: 10px;
    margin: 15px;
    background-color: #a44ee0;
}

.add-workspace:hover {
    background-color: #9741d3;
}

.add-workspace p {
    font-size: xx-large;
    margin: 4px 0 0 0;
}

.workspace-item {
    background-color: #ffffff;
    padding: 15px;
    min-width: 400px;
    border-radius: 10px;
    marker: none;
    display: block;
    margin: 10px;
    cursor: pointer;
}

.workspace-item:hover {
    background-color: #f6f6f6;
}

.workspace-item-title {
    background-color: #ebe9ec;
    padding: 15px;
    min-width: 400px;
    border-radius: 10px;
    marker: none;
    display: block;
    margin: 10px;
    cursor: default;
}

.workspace-item-title:hover {
    background-color: #ebe9ec;
}

.branch-item {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 10px;
    min-width: 200px;
    border-radius: 10px;
    marker: none;
    display: block;
    cursor: pointer;
}

.branch-item:hover {
    background-color: #f6f6f6;
}

.request-item {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 10px;
    min-width: 200px;
    border-radius: 10px;
    marker: none;
    display: block;
    cursor: pointer;
}

.request-item:hover {
    background-color: #f6f6f6;
}

.workspace-block {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100%;
    background-color: #e7e7e7;
}

.all-files-branches {
    padding-left: 30px;
}

.workspace-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workspace-title {
    margin-bottom: 20px;
}

