/* Admin.css */

.username-header {
    font-size: x-large;
    font-weight: bold;
    margin-top: 15px;
}

.me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    background-color: #f8f8f8; /* Light background */
    flex-direction: column;
}

.username-content {
    display: flex;
    margin-top: 15px;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
}

.username-content p{
    margin: 10px 0 0 0;
}

.avatar {
    background-color: #e3e3e3;
    padding: 30px;
    border-radius: 50px;
}

.avatar p{
    margin: 0;
    font-size: x-large;
}

.workspace-item-p {
    background-color: #ffffff;
    padding: 15px;
    min-width: 400px;
    border-radius: 10px;
    marker: none;
    display: block;
    margin: 15px;
    cursor: pointer;
}

.workspaces {
    padding: 10px 20px;
    width: 300px;
    align-self: center;
    border-radius: 30px;
    border: none;
    font-size: medium;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    cursor: pointer;
    margin: 30px 10px 10px 10px;
}

.workspaces:hover {
   background-color: #0071ea;
}

.logout {
    padding: 10px 20px;
    width: 300px;
    align-self: center;
    border-radius: 30px;
    border: none;
    font-size: medium;
    background-color: #ff5f5f; /* Bootstrap primary color */
    color: white;
    cursor: pointer;
    margin: 5px 10px 10px 10px;
}

.logout:hover {
   background-color: #f15454;
}