# This workflow will install Python dependencies, and run tests with a single version of Python

name: pytest

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]

jobs:
  testing:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      working-directory: areas/backend
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Core tests
      working-directory: areas/backend
      run: python3 -m pytest -n auto ./tests/test_core
    - name: API tests
      working-directory: areas/backend
      run: python3 -m pytest -n auto ./tests/test_new_api